@font-face {
    font-family: "Chivo";
    font-weight: 300;
    src: url("../assets/fonts/Chivo/Chivo-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Chivo";
    font-weight: 400;
    src: url("../assets/fonts/Chivo/Chivo-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Chivo";
    font-weight: 700;
    src: url("../assets/fonts/Chivo/Chivo-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Chivo";
    font-weight: 900;
    src: url("../assets/fonts/Chivo/Chivo-Black.ttf") format("truetype");
  }