<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <div class="mt-3">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="fw-400 fs-16">Select your preferred Cashless Casino Experience</div>
        </ion-col>
        <ion-col size="auto">
          <ion-toggle class="flex-end"aria-label="Dark toggle" color="dark" [checked]="true"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>

  </div>
  
</ion-content>
